@using Projeto_Pos_Docker.ViewModel;
@model UsuarioViewModel;

<h2>Lista de Usuários</h2>
<table style="width:100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">ID</th>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Nome</th>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="border: 1px solid #ddd; padding: 8px;">@usuario.Id</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@usuario.Nome</td>
                <td style="border: 1px solid #ddd; padding: 8px;">@usuario.Email</td>
            </tr>
        }
    </tbody>
</table>
